body{font-family: "Gill Sans", sans-serif;
}
.main{
    border: 2px white solid;
    border-radius: 90px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}
input{
    padding: 2px;
    border-radius: 10px;
    
}
.ad{
    margin-top: -600px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    

    text-decoration: none; color: rgb(214, 214, 214); background-color: rgb(26, 26, 26);}
.labels{color: white;}
.ansa{
    color: black;
    margin-left: -90px;
    margin-top: 90px;
}
body{
    background-color: black;
}
.cal{
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 90px;
    margin-top: 30px;
}
.goi{
    display:block;
    color: white;
    margin-left: -90px;
    margin-top: 90px;
}
.holder_light{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 900px;
    border-radius:90px;
    margin-top: 50px;
}
.inp-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 200px; 
}
@media(max-width:1200px) {
    .labels{
        margin-bottom: -4px;
    }
    .main{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 100vh;
    }
    .holder_light{
        margin-left: 0;
        height: 99vh;
        width: 70vw;
    }
    .inp-holder{
        width: 40vw;
    }
    input{
        margin-left: 0;
    }
    .back{
        margin-bottom: 20px;

    }
    .cal{
        margin: 0px;
    }
    .ansa{
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 90px;
    }


    .ad{
        display: none;
        border-radius: 10px;
        padding: 10px;
        width: 20vw;
    
        }
}
@media(min-width:1200px) {

    .main{
        width: 100%;
    }

}