.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
.heads{
    width: 100%;
    height: 90px;
    background-color: black;
}
h2{
    color: white;
}
body{
    background-color: black;
}
.lamp{
    border: 2px white solid ;
    border-radius: 20px;
}
.oven{
    border: 2px white solid ;
    border-radius: 20px;
}
a{
    text-decoration: none;
}


@media(max-width:914px) {

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
    }

    .lamp{
        border: 2px white solid ;
        border-radius: 20px;
        margin-bottom: 90px;
    }


}