body{font-family: "Gill Sans", sans-serif;}

body{
    background-color: black;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 900px;
}
.holder_oven{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px white solid;
    height: 900px;
    width: 900px;
    border-radius:90px;

}
.inp-holder{
    display: flex;
    flex-direction: column;
    
}
.ansa_oven{
    color: black;
    margin-top: 90px;
}
.goi{
    display:block;
    color: white;
}
.cal_oven{
    border: 0px ;
    margin-left: 39px;
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 90px;
}
input{
    margin-top: 2px;
    border-radius: 10px;
}
button{
    margin-top: 50px;
}
.labels{color: white;}